#botonera img{
    width: 150px;
}

/* clases de fondos */
.bg-deeppink{
    background-color: #24b354;
    color: white;

}

.bg-violet{
    background-color: #24b354;
}

#redes img{
    width: 30px;
}

